#imageInput{
 display: none;
}
.form-container{
    max-height: 80vh; /* Set a max height for the container */
    overflow-y: auto;
}

@media only screen and (max-width: 900px) {
    .form-container{
        width: 75%;
        max-height: auto;
    }
}
@media only screen and (max-width: 600px) {
    .form-container{
        width: 100%;
        border: none;
    }
    .form-container h1{
        font-size: 2rem;
    }
    .form-container label{
        font-size: 1.5rem;
    }
}

/* Add a load functionality when log in or sign up */